body {
    background: url(../imges/bg-fon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}


@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: local(Ubuntu),
        url(../fontss/Ubuntu-B.ttf);
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 58px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.text-logo {
    margin-left: 158px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.img-logo {
    display: flex;
}

.logo-item {
    margin-left: 10px;
    margin-right: 25px;
    width: 23px;
    height: 23px;
    text-align: center;
}

.Header-Welcome{
    margin-right: 68px;
    margin-top: 3px; /* Почему-то именно этот текст не стал по центру а чуть выше*/
    font-size: 14px;
    line-height: 14px;
}

.Welcome::before {
    content: "";
    margin-right: 20px;
    border-right: 1px solid #FFFFFFE5;
    height: 19px;
}

/* Header-hover  */
.text-logo:hover,
.Header-login:hover,
.Header-signup:hover {
  transition: 300ms;
  color: rgb(20, 105, 20);
}

.logo-item:hover {
    transition: 300ms;
    color: rgb(20, 105, 20);
}

/* main */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    color: black;
    width: 535px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-direction: column; /* расположение элементов в столбик */    
}

.bg-white{
    height: 620px;
    background-color: white;
    border-radius: 3px;
}
.main-Sign {
    display: flex;
    justify-content: space-between;
    
}

.Main-Sign-Up{
    margin-top: 34px;
    margin-left: 69px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

}



.Main-Log-In {
    margin-top: 34px;
    margin-right: 69px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
}

.Main-Log-In:hover {
    transition: 300ms;
    color: #01813F;
    border-bottom: 2px solid #01813F;
}
/* Кнопки */
.Main-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    margin-top: 10px;

}

.button-facebook {
    width: 160px;
    height: 48px;
    background-color: #3B5998;
    border-radius: 4px;
    margin-right: 35px;
    text-align: center;
}
.facebook-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    
}
.facebook-img {
    width: 20px;
    height: 17;
    margin-right: 10px;

}

.button-google {
    width: 160px;
    height: 48px;
    background-color: #AB1F09;
    border-radius: 4px;
    text-align: center;
}
.google-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    
}
.google-img {
    width: 20px;
    height: 17;
    margin-right: 10px;

}
.button-google:hover{
    transition: 300ms;
    background-color: #7e1717;
}
.button-facebook:hover {
    transition: 300ms;
    background-color: #022263;
}

/* --------Or-------- */

.paragraph-or-main {
    color: gray;
    text-align: center;
    margin: 30px 0px 10px 0px;
}

.paragraph-or-main {
    position: relative;
}

.paragraph-or-main::before,
.paragraph-or-main::after {
    content: " ";
    display: block;
    height: 1px;
    width: 170px;
    background-color: gray;
    position: absolute;
    top: 50%;
}

.paragraph-or-main::before {
    left: 65px;
}

.paragraph-or-main::after {
    right: 65px;
}
/* Menu */
.Register-menu{
    display: flex;
    flex-direction: column;
}

.Menu-item{
    margin: 10px;
    margin-left: 120px;
    width: 322px;
    height: 44px;
    border: none;
    box-shadow: 2px 2px 4px rgb(83, 65, 65);
    border-radius: 3px;
}

.Menu-item:focus {
    box-shadow: 2px 2px 4px white;
    border: none;
}
.Menu-item::placeholder{
    padding-left: 12px;
}
.checkbox-container{
    margin-top: 1px;
    display: flex;
    justify-content: center;
}
.checkbox-text{
    margin-top: 3px;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    color: #434343;
}

.checkbox-text > span {
    color: #3CB878;
}
.checkbox-container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid green;
    border-radius: 3px;
    border:1px solid green;
}
  

.checkbox-container input[type="checkbox"]:checked {
    background-color: green;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M9.293 16.293L4.293 11.293C3.902 10.902 3.268 10.902 2.878 11.293 2.488 11.683 2.488 12.317 2.878 12.707L8.293 18.121C8.684 18.512 9.317 18.512 9.707 18.121L21.707 6.121C22.098 5.731 22.098 5.098 21.707 4.707C21.317 4.316 20.683 4.316 20.293 4.707L9.293 16.293Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  

.create-account{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.Button-Create{
    margin: 10px 0px 0px 15px;
    width: 324px;
    height: 46px;
    top: 500px;
    left: 60px;
    border-radius: 4px;
    background: #3CB878CC;
}

.Button-Create:hover{
    transition: 300ms;
    background-color: green;
}